<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{!-- <link rel="stylesheet" href="/stylesheet/{{style}}" /> --}}
        {{!-- bootstrap --}}
        <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheet/main.css" />
        <title>{{title}}</title>
    </head>
    <body>
        {{!-- hero  and naviagion links--}}

        <header>
            
            <div class = " hero row">
                <img src="/images/logo.png">
            </div>


            <div class = "nav ">
                <div class = "col-4">
                    <a href="/">Home</a>
                </div>
                <div class = "col-4">
                    <a href="/game">Game</a>
                </div>
                <div class = "col-4">
                    {{#if loggedIn}}
                    <a href="/profile">Profile</a>
                    <button id="logout" class="btn-no-style">Logout</button>
                </div>
                <div class = "col-4">
                    {{else}}
                    <a href="/login">Login</a>
                    {{/if}}
                </div>
            </div>
            
        </header>

        {{!-- page content --}}
        <main>
            {{{body}}}
        </main>
        <footer class = "container">
            <div class = "row justify-content-center">
                <div class = "col-12">
                    <h2><strong>Made by Group 3:</strong></h2>
                </div>
            </div>
            <div class = "row justify-content-center">
                
                    <div class="github row">
                        <!-- links to team's GitHub pages -->
                        <div class="column">
                            <a href="https://github.com/Joshsands" target="_blank"><button
                                    class="josh">Joshua</button></a>
                        </div>
                        <div class="column">
                            <a href="https://github.com/mjgiannelli" target="_blank"><button
                                    class="mark">Mark</button></a>
                        </div>
                        <div class="column">
                            <a href="https://github.com/JSheleg" target="_blank"><button
                                    class="jessica">Jessica</button></a>
                        </div>
                        <div class="column">
                            <a href="https://github.com/janekv20" target="_blank"><button
                                    class="jane">Jane</button></a>
                        </div>
                    </div>
                
            </div>
            
            {{!-- <div class="content has-text-centered">
                <div class="github row">
                    <!-- links to team's GitHub pages -->
                    <div class="column">
                        <a href="https://github.com/Joshsands" target="_blank"><button
                                class="josh">Joshua</button></a>
                    </div>
                    <div class="column">
                        <a href="https://github.com/mjgiannelli" target="_blank"><button
                                class="mark">Mark</button></a>
                    </div>
                    <div class="column">
                        <a href="https://github.com/JSheleg" target="_blank"><button
                                class="jessica">Jessica</button></a>
                    </div>
                    <div class="column">
                        <a href="https://github.com/janekv20" target="_blank"><button
                                class="jane">Jane</button></a>
                    </div>
                </div>
            </div> --}}

            
        </footer>
        
        
        {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
        {{/if}}     
            
    </body>

</html>