<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FindMyBoards</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <div class="wrapper">

      <header>
        <h1>
          <a href="/">FindMyBoards</a>
        </h1>

        <nav><!-- .nav-menu -->

        <ul>
          <li><a href="/login" class="btn-no-style">Login</a></li>
          <li><button id="logout" class="btn-no-style">Logout</button></li>
          <li><a href="/" class="btn-no-style">Home</a></li>
          <li><a href="/game" class="btn-no-style">Game</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      </header>

      <main>
        {{{body}}}
      </main>

      <footer>

      </footer>

    </div>
    <script src="/javascript/logout.js"></script>
  </body>

</html>