<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FindMyBoards</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <div class="wrapper">

      <header>
        <h1>
          <a href="/">FindMyBoards</a>
        </h1>
        <nav>
          <button id="logout" class="btn-no-style">logout</button>
          <a href="/login">login</a>
        </nav>

      </header>

      <main>
        {{{body}}}
      </main>

      <footer>
        <p>
          There are only three forms of high art: the symphony, the illustrated
          children's book and the board game.
        </p>
        <p>
          Brian K. Vaughan
        </p>
      </footer>

    </div>
    <script src="/javascript/logout.js"></script>
  </body>

</html>