*{
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}

.game-card{
    background: white;
    width: 550px;
    height: 550px;
    max-width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}


.game-card .cont{
    width: 85%;
    height: 85%;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.game-card .cont .title{
    width: 100%;
    height: 25%;
    background-color: #3471c1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border: 2px solid black;
}

.game-card .cont .single{
    background-color: orange;
}

.game-card .cont .single p{
    color: black;
}

/* .title:nth-child(2){
    background-color: Orange;
} */

/* .title .test:nth-child(2){
    background-color: orange;
} */



.game-card .cont #play-details{
    margin-top: 10px;
}

.game-card .cont .details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.game-card .cont .details .game-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
    margin: 1px;
}

.game-card .cont .game-description{
    /* width: 55%; */
    margin-top: 6px;
    text-align: center;
}

textarea {
    max-width: 100%;
    height: 150px;
    padding: 12px 20px;
    font-size: 1.5rem;
    resize: none;
  }

.game-link a{
    justify-content: center;
}



.button-container {
    display: flex;
    width: 30rem;
    background: #BFDBAE;
    border: none !important;
    outline: none;
    box-sizing:content-box;
}

.btn {
    width: 100%;
    margin: .5rem;
}

.dropdown .dropdown-menu{
    width: 100%;
}

.btn-edit {
    width: 50%;
    justify-content: center;
    margin: 0, auto;
}

.pagination {
    justify-content: center;
}

.hidden {
    display: none;
  }