
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Garamond;
  background: #BFDBAE;
}

/*Header/Site title*/
header {
  text-align: center;
  background:#C70000;
  width: 100%
}
.hero{
  justify-content: center;
  width: 100%;
  padding-top: 1rem;
}

header h1 {
  font-size: 50px;
}

.nav {
  overflow: hidden;
  background-color: #8FBC72;
  border: 1px solid black;
  justify-content: flex-start;
  width:100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-success {
  background-color: #8FBC72;
  font-size: 3vw;
}

.btn-success:hover {
  background-color: white;
  color: black;
}

.nav a {
  float: left;
  display: block;
  color:black;
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
}

.nav-item {
  padding: 2vw;
}

.carousel-item img {
  max-height: 600px;
  max-width: 450px;
  margin: auto;
  display: block;
  background-color: #BFDBAE;
}

h3, p {
  color: darkgreen;
  font-weight: bolder;
}

.josh {
  background-color: orange;
  width: 90px;
  height: 40px;
}

.mark {
  background-color: green;
  width: 90px;
  height: 40px;
}

.jessica {
  background-color: yellow;
  width: 90px;
  height: 40px;
}

.jane {
  background-color: magenta;
  width: 90px;
  height: 40px;
}

h2 {
  text-align: center;
}

.github{
  justify-content: center;
}

footer{
  background-color: #C70000;
  width: 100%;
  position:sticky;
}

.following-btn {
  background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      text-decoration: none;
      color: var(--primary-color);
      font-size: 2rem;
      transition: color .1s;
}

#follow-user-div {
  margin-top: .5rem;
}

#follow-btn {
  border: .1rem solid black;
}

@media screen and (max-width: 768px) {
  .hero img {
    width: 75%;
    margin-left: 10%;
}
}

@media screen and (max-width: 575px) {
footer {
max-width: 50%;
margin-left: 25%;
margin-top: 25%;
margin-bottom: 0%;
}
footer h2 {
display: none;
}
}