<section="login-logout">
<div class="row">
	<div class="column">
		<form action="#">
			<h1>Sign in</h1>
			<input type="email" id="email-login" placeholder="Email" />
			<input type="password" id="password-login" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button id="sign-in">Sign In</button>
		</form>
	</div>

  <div class="column">
		  <form action="#">
        <h1>Sign Up</h1>
        <input type="username" id="username-signup" placeholder="Username" />
        <input type="email" id="email-signup" placeholder="Email" />
        <input type="password" id="password-signup" placeholder="Password" />
			  <button id="sign-up">Sign Up</button>
		  </form>
	  </div>
  </div>
</section>
<script src="/javascript/login.js"></script>