<br />
<section class="w-25 mx-auto text-white">
  <h1 class="text-center text-danger">Sign in</h1>

  <form class="login-form">
	  
    <div class="form-group">
      <label for="email-login">E-mail:</label>
      <input
        type="text"
        id="email-login"
        class="form-control"
        placeholder="Email"
      />
    </div>

    <div class="form-group">
      <label for="password-login">Password:</label>
      <input
        type="password"
        id="password-login"
        class="form-control"
        placeholder="Password"
      />
    </div>

    <div class="login-form">
      <button type="submit" class="btn btn-danger btn-block">Login</button>
    </div>
    
    <br />
    <div class="forgot-my-password">
      <button type="click" class="btn btn-danger btn-block">Forgot My Password</button>
    </div>
  </form>
</section>
<br />

<script src="/javascript/login.js"></script>