<form action="/" method="POST" encType="multipart/form-data">
    <h3>Upload Profile Photo</h3>
    <input type='file' name='profilePic' accept="image/*" />
    <input type="submit" class='bnt'>
</form>