<form id='profile-pic-form' action="/" method="POST" encType="multipart/form-data">
    <h3>Upload Profile Photo</h3>
    <input type='file' name='profilePic' accept="image/*" id='profile-pic'/>
    <input type="submit" class='bnt'>
</form>
